<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cart</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
   <h6>This is your cart</h6>  
<br>

 {{#if ord}}
<table>
  <tr>
    <th>Vendor Name</th>
    <th>Item Name</th>
    <th>Price of each item </th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  {{#each ord}}
     {{#if isActive}}
       {{#if isPaid}}

       {{else}}
  <tr>
    <td>{{vendorName}}</td>
    <td>{{itemName}}</td>
    <td>{{itemPrice}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>
    <td>
       
       <form action ="/users/cart/delete/{{_id}}" method="POST" id="delete-item">
                 <input type="hidden" name="method" value="DELETE">
                 <button type="submit" class="btn red">DELETE</button>
              </form>
    </td>
  </tr>
       {{/if}}
     {{/if}}
  {{/each}}
</table>
{{/if}}
    Total Price : {{pr}}
    <br>
    <br>
    {{>paybutton}} <br>
    {{>paynow}}
</body>
</html>


