<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit</title>
</head>
<body>
    your remaining credit is {{credit}}
    {{#if ord}}
    <table>
        <tr>
          <th>Vendor</th>
          <th>Item Name</th>
          <th>Price </th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Time</th>
          <th></th>
        </tr>
    {{#each ord}}
      <td>{{vendorName}}</td>
      <td>{{itemName}}</td>
      <td>{{itemPrice}}</td>
      <td>{{quantity}}</td>
      <td>{{totalPrice}}</td>
      <td>{{formatDate orderedAt 'DD-MM-YYYY, HH:mm:ss' }}</td>
      <td>{{>creditbutton}}</td>    
    {{/each}}
    </table>
    {{/if}}
</body>
</html>