<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
  
<h1>User Menu</h1>

{{>cartbutton}}
    {{#if items}}
<table>
  <tr>
    <th>Vendor Name</th>
    <th>Item Name</th>
    <th>Price </th>
    <th>Availability</th>
    <th></th>
  </tr>
  {{#each items}}
  <tr>
    <td>{{vendorname}}</td>
    <td>{{itemname}}</td>
    <td>{{itemprice}}</td>
    <td>{{avail}}</td>
    <!--
    <td> 
          <form action ="/users/book/add/{{_id}}" method="POST" id="increase quantity">
          <input type="number" name="quantity" id="" default="0">
          <button type="submit" class="btn">update</button>
            </form>
    </td>-->
    
    <td>
      {{#if avail}}
       <form action ="/users/book/{{_id}}" method="POST" id="book-item">
                 <input type="hidden" name="method" value="BOOK">
                 <button type="submit" class="btn green">ADD TO CART</button>
        </form>
        {{else}}
           <a class="btn disabled">ADD TO CART</a>
        {{/if}}
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}
</body>
</html>


