<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
  
<h1>User Menu</h1>

{{>cartbutton}}
    {{#if items}}
<table>
  <tr>
    <th>Vendor Name</th>
    <th>Item Name</th>
    <th>Price </th>
    <th>Availability</th>
    <th>Book</th>
  </tr>
  {{#each items}}
  <tr>
    <td>{{vendorname}}</td>
    <td>{{itemname}}</td>
    <td>{{itemprice}}</td>
    <td>{{avail}}</td>
   
    
    <td>
      {{#if avail}}
        {{>addtocart}}
        {{else}}
           <a class="btn disabled">ADD TO CART</a>
        {{/if}}
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}
</body>
</html>


