<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

  </head>
  <body>
    <h1>
      Current orders
    </h1>
    <br />

    {{#if ord}}
      <table>
        <tr>
          <th>Vendor Name</th>
          <th>Item Name</th>
          <th>Price of each item </th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
        {{#each ord}}
          {{#if isPaid}}
            {{#if isActive}}
              <tr>
                <td>{{vendorName}}</td>
                <td>{{itemName}}</td>
                <td>{{itemPrice}}</td>
                <td>{{quantity}}</td>
                <td>{{totalPrice}}</td>
              </tr>
            {{/if}}
          {{/if}}
        {{/each}}
      </table>
    {{/if}}
    <br /><br /><br />
    <h1> Past Orders</h1>
    <br />
    <table>
      <tr>
        <th>Vendor Name</th>
        <th>Item Name</th>
        <th>Price </th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date and Time</th>
        <th>Mode of Payment</th>
      </tr>
      {{#each ord}}
        {{#if isPaid}}
          {{#if isActive}}{{else}}
            <tr>
              <td>{{vendorName}}</td>
              <td>{{itemName}}</td>
              <td>{{itemPrice}}</td>
              <td>{{quantity}}</td>
              <td>{{totalPrice}}</td>
              <td>{{formatDate orderedAt "DD-MM-YYYY, HH:mm:ss "}}</td>
              <td>{{modeOfPayment}}</td>
            </tr>
          {{/if}}
        {{/if}}
      {{/each}}
    </table>
  </body>
</html>