<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  <link rel="stylesheet" href="../public/css/usOrd.css"
  </head>
  <body style="font-family:Helvetica">
{{>navbar}}
<div class="container">
    
   <div class="row">
    <br><br><br><br><br><br>
    <div class="purple-text text-darken-3" style="font-size: 200%; font-weight:bolder">PAST ORDERS</div>
    <br /><br>  <div class="divider"></div> <br>
  
    <table class="left-align striped purple-text text-darken-4 purple lighten-4 "  style="font-size: 80%;">
      <tr>
        <th>Vendor Name</th>
        <th>Item Name</th>
        <th>Price </th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date&Time</th>
        <th>Mode</th>
      </tr>
      {{#each ord}}
        {{#if isPaid}}
          {{#if isActive}}{{else}}
            <tr class="hoverable">
              <td >{{vendorName}}</td>
              <td >{{itemName}}</td>
              <td >{{itemPrice}}</td>
              <td>{{quantity}}</td>
              <td>{{totalPrice}}</td>
              <td>{{formatDate orderedAt "DD-MM-YYYY, HH:mm:ss "}}</td>
              <td>{{modeOfPayment}}</td>
            </tr>
          {{/if}}
        {{/if}}
      {{/each}}
    </table>
    </div>
    </div>
  </body>
</html>