<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

credits left:
{{credit}}
<br />
{{#if pastord}}
  <table>
    <tr>
      <th>Item Name</th>
      <th>Price </th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Date & Time of Order</th>
      <th>Date & Time of Refill</th>
    </tr>
    {{#each pastord}}
      <tr>
        <td>{{this.itemName}}</td>
        <td>{{this.itemPrice}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.totalPrice}}</td>
        <td>{{formatDate orderedAt "DD-MM-YYYY, HH:mm:ss "}}</td>
        <td>{{formatDate creditPaidAt "DD-MM-YYYY, HH:mm:ss "}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}